<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title> </title>
    <meta charset="utf-8" />
    <!-- 引入样式 -->
    <link rel="stylesheet" href="Global/css/bootstrap.min.css?ver=20170916" />
    <link rel="stylesheet" href="Global/css/icon.css?ver=20170916" />
    <link rel="stylesheet" href="Global/css/iconfont.css?ver=20170916" />
    <link rel="stylesheet" href="Global/css/font-awesome.css?ver=20170916" />
    <link rel="stylesheet" href="Global/css/index.css?ver=20170916" />
    <link rel="stylesheet" href="Global/css/global.css?ver=20170916" />
    <link rel="stylesheet" href="Global/css/layout.css?ver=20170916" />
    <link rel="stylesheet/less" href="Global/css/color.less?ver=20170916" />
    <script src="Global/js/less.min.js?ver=20170916"></script>
</head>

<body>
    <div class="wrapper" v-cloak>
        <header>
            <img src="" class="header_logo">
            <!--<nav class="nav navbar-top-links navbar-right">
                <ul class="header_operations">
                    <li>
                        <a href="javascript:;" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-tasks"></i> 主题
                        </a>
                        <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel"><label>切换主题色</label></h4>
                                    </div>
                                    <div class="modal-body">
                                        <label>主题颜色</label>
                                        <div>
                                            <input type="color" autocomplete="off" class="input_color" value="#20A0FF">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-custom-primary J-color-model" data-dismiss="modal">切换</button>
                                        <button type="button" class="btn btn-custom">重置</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-win">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                            <i class="fa fa-windows"></i>
                            <span class="username username-hide-on-mobile">窗口模式 </span>

                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a class="J-window-model" href="javascript:;">
                                    <i class="fa fa-window-restore"></i> <span>切换单窗口</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                            <span class="username username-hide-on-mobile">系统管理员 </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a class="MyselfMsg-link" href="javascript:;">
                                    <i class="icon iconfont icon-code"></i> 个人资料
                                </a>
                            </li>
                            <li>
                                <a class="Mainset-link" href="javascript:;">
                                    <i class="icon iconfont icon-homeset"></i> 主页设置
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="UpdatePwd-link" href="javascript:;">
                                    <i class="icon iconfont icon-lock"></i> 修改密码
                                </a>
                            </li>
                            <li>
                                <a class="logoff-link" href="javascript:;">
                                    <i class="icon iconfont icon-exit"></i> 安全退出
                                    <input id="loginurl" value="Login" type="hidden">
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>-->
        </header>
        <div class="side_bar">
            <div class="top_nav">
                <a href="javascript:;">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="menu scroll">
                <ul>
                    <li v-for="menuItem in menuData" v-if="menuItem.MenuParentNo=='0'">
                        <template v-if="menuItem.MenuNo=='0'">
                            <a class="menu_item" href="javascript:;" v-on:click.stop="handleMenuItem(menuItem)" data-index="0" expanded="false">
                                <i class="fa fa-home"></i>
                                <span class="">主页</span>
                            </a>
                        </template>
                        <template v-else>
                            <a href="javascript:;" :data-index="menuItem.MenuNo" expanded="false">
                                <i :class="menuItem.MenuIcon"></i>
                                <span class="menu-label">{{menuItem.MenuName}}</span>
                                <span class="fa fa-angle-left arrow"> </span>
                            </a>
                            <ul class="collapse" expanded="false">
                                <li v-for="subMenuItem in menuData" v-if="subMenuItem.MenuParentNo==menuItem.MenuNo">
                                    <a class="menu_item" href="javascript:;" v-on:click.stop="handleMenuItem(subMenuItem)" data-index="4">
                                        <i class=""></i> {{subMenuItem.MenuName}}
                                    </a>
                                </li>
                            </ul>
                        </template>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="main_tabs">
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content" style="margin-left: 0px;">
                        <a v-for="(item,index) in openData" href="javascript:;" :class="[item.active?'active':'']+' J_menuTab'" :data-id="item.MenuNo" data-index="12" v-on:click="handleSwitchTab(item)">
                            {{item.MenuName}}
                            <i v-if="item.MenuNo!='0'" class="fa fa-times-circle" v-on:click.stop="handleCloseTab(item,index)"></i>
                        </a>
                    </div>
                </nav>

                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <!--<div class="btn-group roll-nav roll-right">
                    <button class="dropdown-toggle J_tabClose" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                        关闭操作<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll" v-on:click="handleCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther" v-on:click="handleCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>-->

                <a href="javascript:;" class="roll-nav roll-right J_tabExit logoff-link" v-on:click="handleExit"><i class="fa fa fa-sign-out"></i>退出</a>
            </div>
            <div class="J_mainContent">
                <div v-for="item in openData" class="J_iframe iframe_content" :data-id="item.MenuNo" :style="{display:item.active?'':'none'}">
                    <component :is="item.MenuUrl" :title="item.MenuName" :control="item.Controls">

                    </component>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right ">
                    &copy; 2016 XXX.com 版权所有 ICP证：湘ICP备XXXXXXX
                </div>
            </div>
            <div class="loadingBox ajax">
                <div class="loading1"></div>
                <div class="loading2"></div>
                <div class="loading"></div>
                <div class="loadingTxt">请稍候</div>
            </div>
        </div>


    </div>
    <script src="Global/js/jquery.min.js?ver=20170916"></script>
    <script src="Global/js/jquery.cookie.js?ver=20170916"></script>
    <!--<script src="Global/js/layer/layer.js?ver=20170916"></script>-->
    <!--<script src="Global/js/bootstrap.min.js?ver=20170916"></script>-->
    <script src="Global/js/vue.min.js?ver=20170916"></script>
    <script src="Global/js/frame.js?ver=20170916"></script>
    <script src="Global/js/index.js?ver=20170916"></script>
    <script src="Global/js/ajaxData.js?ver=20170916"></script>
    <script src="Global/js/require.js?ver=20170916"></script>
</body>

</html>
<script>
    var menuData = {};
    ajaxData('api/Menu/FindSysMenu', {
        async: false
    }).then(function (result) {
        if (result) {
            result.data.map(function (item) {
                if (item.MenuParentNo == null) {
                    item.MenuParentNo = 0;
                }
                if (item.MenuIcon == null) {
                    item.MenuIcon = "";
                }
                if (item.MenuUrl == null) {
                    item.MenuUrl = "";
                }
            })
            menuData = result.data;
        }
    }, function () {
        window.location.href = "login.html";
        return false;
    });
    var _vm = new Vue({
        el: '.wrapper',
        data: {
            homePage: {
                MenuNo: '0',
                MenuParentNo: 0,
                active: true,
                MenuName: '主页',
                MenuUrl: 'cust-page',
                urls: []
            },
            openData: [],
            menuData: menuData
        },
        created: function () {
            this.menuData.splice(0, 0, this.homePage);
            this.openData.push(this.homePage);
            this.handleMenuItem(this.homePage);
        },
        methods: {
            handleUnActive: function () {
                this.openData.map(function (item) {
                    item.active = false;
                })
            }, //清除激活状态
            handleMenuItem: function (subMenuItem) {
                var _self = this;
                window.top.$(".loadingBox.ajax", window.top.document).show();
                require(['Areas/' + subMenuItem.MenuUrl + '.js'], function (vuePage) {
                    window.top.$(".loadingBox.ajax", window.top.document).hide();
                    _self.handleUnActive();
                    var isActive = false;
                    _self.openData.map(function (item) {
                        if (item.MenuNo == subMenuItem.MenuNo) {
                            item.active = true;
                            isActive = true;
                        }
                    })

                    if (!isActive) {
                        var obj = JSON.parse(JSON.stringify(subMenuItem));
                        obj.active = true;
                        _self.openData.push(obj);
                    }
                });

            }, //点击菜单打开窗口
            handleSwitchTab: function (item) {
                this.handleUnActive();
                item.active = true;
            }, //选择窗口
            handleCloseTab: function (item, index) {
                this.openData.splice(index, 1);
                //如果当前TAB被激活，就取所有打开窗口的最后一个被激活
                if (item.active == true) {
                    this.openData[this.openData.length - 1].active = true;
                }
            }, //关闭单个窗口
            handleCloseAll: function () {
                this.openData.splice(1, this.openData.length - 1);
                this.openData[0].active = true;
            }, //关闭所有窗口
            handleCloseOther: function () {
                for (var i = 0; i < this.openData.length - 1; i++) {
                    if (this.openData[i].MenuNo != '0' && !this.openData[i].active) {
                        this.openData.splice(i--, 1);
                    }
                }

            }, //关闭其它窗口
            handleExit: function () {
                this.$confirm('是否确定退出?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    $.cookie('Ticket', '', {
                        expires: -1
                    });
                    window.location.href = "login.html";
                }).catch(function () {
                    return;
                });
            }, //退出
        }
    })
</script>