.wrapper { min-width: 800px; height: 100%; overflow-x: hidden; }

header { height: 60px; padding: 0 20px; }

    header:after { display: inline-block; content: ""; height: 100%; vertical-align: middle; }

    header .header_logo { display: inline-block; vertical-align: middle; }

/*.header_operations {
    float: right;
    padding-right: 30px;
    height: 100%;
    margin-bottom: auto;
}

.header_operations>li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0 3px;
    cursor: pointer;
}

.header_operations>li>a {
    display: block;
    padding: 0 15px;
    line-height: 60px;
}

.header_operations>li>a .img_circle {
    height: 38px;
    border-radius: 5px;
}*/

.side_bar { width: 180px; position: fixed; height: 100%; }

    .side_bar .top_nav { text-align: center; padding: 10px; font-size: 20px; cursor: pointer; }

    .side_bar .menu { overflow: hidden; overflow-y: auto; width: auto; height: calc(100% - 60px - 40px); }

    .side_bar ul { padding-left: 0; margin-bottom: 0; list-style: none; }

.mini-navbar .side_bar > .menu > ul > li.active > ul { display: none !important; }

.mini-navbar .side_bar > .menu > ul > li:hover ul.collapse { position: fixed; left: 60px; top: 0; width: 130px; border-radius: 2px; display: block !important; border-style: solid; border-width: 8px; }

    .mini-navbar .side_bar > .menu > ul > li:hover ul.collapse a { padding-left: 10px; }

body:not(.mini-navbar) .side_bar > .menu > ul > li { position: relative; display: block; border-left-style: solid; border-left-width: 4px; }

.side_bar > .menu > ul > li > a.active { margin-left: -4px; padding-left: 24px; }

.side_bar > .menu > ul > li { border-bottom-style: solid; border-bottom-width: 1px; }

.mini-navbar .side_bar > .menu > ul > li > a { padding: 15px; text-align: center; }

    .mini-navbar .side_bar > .menu > ul > li > a > i { font-size: 16px; margin: auto; }

    .mini-navbar .side_bar > .menu > ul > li > a > span { display: none; }

.side_bar > .menu > ul > li > ul > li a { padding: 7px 15px 7px 52px; }

.side_bar ul > li > a { position: relative; display: block; padding: 10px 20px; text-decoration: none; }

    .side_bar ul > li > a i { font-size: 14px; margin-right: 10px; pointer-events: none; }

    .side_bar ul > li > a .arrow { float: right; margin-top: 2px; }

.main { margin-left: 180px; height: calc(100% - 60px); position: inherit; }

.J_mainContent { height: calc(100% - 73px); }

.J_iframe { height: 100%; width: 100%;}

.main_tabs { border-bottom-style: solid; border-bottom-width: 1px; height: 37px; line-height: 35px; position: relative; }

    .main_tabs button { border: 0 none; height: 35px; outline: medium none; width: 35px; }

    .main_tabs .roll-nav, .page-tabs-list { height: 35px; position: absolute; text-align: center; top: 0; width: 40px; z-index: 2; }

    .main_tabs .roll-left { border-right-style: solid; border-right-width: 1px; left: 0; }

nav.page-tabs { height: 35px; margin-left: 35px; overflow: hidden; width: 100000px; position: absolute; }

.page-tabs a { display: block; float: left; padding: 0 15px; border-right-style: solid; border-right-width: 1px; }

nav.page-tabs .page-tabs-content { float: left; }

.J_menuTab { transition: all 0.3s ease-out 0s; }

.main_tabs .roll-right { border-left-style: solid; border-left-width: 1px; right: 0; }

.roll-right.btn-group { padding: 0; right: 60px; width: 80px; }

    .roll-right.btn-group button { width: 80px; }

    .roll-right.btn-group .dropdown-menu { font-size: 14px; }

.roll-right.J_tabRight { right: 60px; }

.roll-right.J_tabExit { height: 35px; outline: medium none; width: 60px; }

.modal-content { border-radius: 2px; width: 80%; }

.modal-title { font-size: 14px; }

.modal-header { border-bottom: none; }

.modal-footer { border-top: none; }

input.input_color { width: 100%; height: 36px; border-radius: 4px; -moz-appearance: none; -webkit-appearance: none; appearance: none; border-width: 1px; }

    input.input_color:focus { outline: 0; }

.iframe_content { background: #f0f0f0; }

.content-title{background:#fff;padding:10px;border-bottom: 1px solid #eee;}
.content-title span{font-weight:bold}
.content-condition{height:50px;}
.content-outbox { background: #fff; margin: 20px; padding: 5px; border: 1px solid #eaeaea;height:calc(100% - 78px); }

.footer { border-top-style: solid; border-top-width: 1px; height: 36px; overflow: hidden; padding: 7px 20px; }
